/* the navbar */
.navbar {
    background-color: #393e46;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 70px;
    position: relative;
}

li, a, button {
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10px;
    height: 50px;
}

.logo {
    cursor: pointer;
    width: 110px;
    padding-top: 20px;
    margin-right: auto;
}

.nav_links {
    display: none; 
    flex-direction: row; 
    position: fixed; 
    z-index: 999;
    padding: 20px; 
    right: 0;
    width: 250px;
    background-color: #393e4680;
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 30px;
    display: flex;  
    position: absolute;
    top: 70px;
    width: 100%;
}

.nav_links.active {
    display: flex; 
}

.nav_links li {
    display: inline-block; 
    padding: 0px 20px; 
    margin: 0 10px;
    width: 100%;
}

.nav_links a {
    width: 100%;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #dfd0b8;
}

.nav_links li a:hover{
    color: #948979;
}



/* button */
button {
    --primary-color: #948979;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    height: 45px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    margin-left: 20px;
}

.cta button {
    background-color: #948979;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

button:hover {
    background-color: var(--hover-color);
}

button:hover .arrow {
    background: var(--secondary-color);
}

button:hover .arrow:before {
    right: 0;
}

/* burger */
.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block; 
    margin-right: 10px; 
    margin-left: 20px;
    z-index: 999;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #948979;
    border-radius: 9px;
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}

.burger span:nth-of-type(3) {
    bottom: 0; 
}

.burger.active span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 13px; 
}

.burger.active span:nth-of-type(2) {
    width: 0%;
    opacity: 0; 
}

.burger.active span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 13px;
}


@media (max-width: 768px) {
    .burger {
        display: block; 
        padding-left: 20px;
        margin-left: auto; 
    }

    .nav_links {
        display: none; 
    }
}

/* search */
.search {
    --padding: 14px;
    height: 45px;
    width: 470px;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6; 
}

.search_input {
    font-size: 16px;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 500px;
    transition: 0.3s ease;
    padding: 5px;
    border-radius: 4px;
}

.search:focus, .search:hover {
    outline: none;
    border-color: rgba(148, 137, 121, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 20%);
}

.search_input::placeholder,
.search_icon {
    color: rgba(0, 0, 0, 0.5);
}

.new_search_class {
    display: flex;
    align-items: center;
    position: relative; 
}

.results_container {
    margin-top: 5px; 
    list-style-type: none;
    padding: 0;
    border: none;
    border-radius: 4px;
    background-color: #393e46; 
    position: absolute;
    z-index: 1000; 
    width: 90%; 
    max-height: 200px; 
    overflow-y: auto;
    margin-top: 270px;
    align-items: center;
}

.results_container li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer; 
    transition: background-color 0.3s; 
    color: #dfd0b8;
}

.results_container li:hover {
    background-color: #948979; 
}

.results_container img {
    width: 50px; 
    height: auto; 
    margin-right: 10px; 
    border-radius: 5px;
}

.results_container span {
    font-size: 16px;
    font-weight: bold;
}

.loading_message {
    padding: 10px; 
    text-align: center;
    font-size: 14px;
    color: #948979;
    background-color: #393e46; 
    border: 1px solid #ccc;
    border-radius: 4px; 
}

@media (max-width: 768px) {


    .burger {
        display: block; 
        margin-left: auto;
        margin-right: 20px;
    }

    .navbar {
        justify-content: space-between; 
    }

    .search {
        width: 100%;
        margin-right: 0; 
    }

    .search_input {
        width: 100%; 
    }
}